<figure class='md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800'>
  <img
    class='w-24 h-24 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto'
    src='/images/cat.jpg'
    alt=''
    width='384'
    height='512'
  />
  <div class='pt-6 md:p-8 text-center md:text-left space-y-4'>
    <blockquote>
      <p class='text-lg font-medium text-white'>
        “joonhan 은 내게 있어 최고의 캔따개 입니다. GOAT 캔따개 라고 부를 수
        있겠네요.”
      </p>
    </blockquote>
    <figcaption class='font-medium'>
      <div class='text-sky-500 dark:text-sky-400'>
        방글맨
      </div>
      <div class='text-slate-700 dark:text-slate-500'>
        {{profileSummary}}
      </div>
    </figcaption>
  </div>
</figure>