<html>
  <head>
    <title>Nest.js Handlebars Example</title>
    <link rel='stylesheet' href='../../public/styles/style.css' />
  </head>
  <body>
    <header>
      <h1>Welcome to Nest.js with Handlebars!</h1>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>